<input type="checkbox" id="check">
<!--header area start-->
<header>
  <label for="check">
    <i class="fa fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>U<span>Chat</span></h3>
  </div>
  <div class="right_area">
    <a class="logout_btn" [routerLink]="['/']" (click)='Logout()'>Logout</a>
  </div>
</header>
<!--header area end-->
<!--sidebar start-->
<div class="sidebar">
  <!-- <center>
        <img src="1.png" class="profile_image" alt="">
        <h4>Jessica</h4>
      </center> -->
  <a><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a>
  <a><i class="fa fa-user-o" aria-hidden="true"></i><span>Profile</span></a>
  <a><i class="fa fa-comment-o" aria-hidden="true"></i><span>Chats</span></a>
  <a><i class="fa fa-info-circle"></i><span>About</span></a>
  <a><i class="fa fa-sliders"></i><span>Settings</span></a>
</div>
<!--sidebar end-->

<div class="row search">
  <div class="ng-autocomplete col-9" *ngIf="all_users.length>0">
    <ng-autocomplete [data]="all_users" [searchKeyword]="keyword" placeHolder="Search Contact"
      (selected)='selectEvent($event)'
      [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.username"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
  <button type="button" class="btn btn-primary mt-1" (click)="add_contact()">Add<i class="fa fa-plus ml-1"></i></button>
</div>
<div class="chat">
  <h3><span style="color: brown;">Welcome</span> <span class="ml-2"
      style="color: seagreen;">{{loggedInUser}}</span></h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="inbox_chat">
          <div class="chat_list" *ngFor="let contact of contacts" (click)="selectedUser(user)">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <span>
                  <h5>{{contact.contact_id.firstname}}
                    <a class="notification">
                      <i class="fa fa-commenting-o fa-lg ml-3" aria-hidden="true"></i>
                      <span class="badge" *ngIf="user.count>0">{{user.count}}</span>
                    </a>
                  </h5>
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="mesgs" style="background: cadetblue" *ngIf="showMsgBox">
        <div>
          <button class="btn btn-danger right" type="button" (click)="deleteMessages()"><i class="fa fa-trash-o"
              aria-hidden="true"></i></button>
        </div>
        <div class="msg_history">
          <div class="incoming_msg" *ngFor="let item of messageArray">
            <div class="received_msg">
              <div class="received_withd_msg mt-2 mb-2" *ngIf="!item.isSender">
                <p>{{item.message}}</p>
              </div>
              <div class="sent_msg mt-2 mb-2" *ngIf="item.isSender">
                <p>{{item.message}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" (change)="read_msg"
              [(ngModel)]="messageText" />
            <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>